// scroll bar
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// LOADER
.loader {
  margin: auto;
  display: block;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-small {
  display: inline-block;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//custom icons
.disabled-icon {
  opacity: 0.5;
  cursor: default !important;
}

// form custom

%input_material_text {
  & span {
    pointer-events: none;
    position: absolute;
    top: 16px;
    left: 0;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  & input {
    border: none;
    -webkit-appearance: none;
    border-bottom: 2px solid #c8ccd4;
    outline: none;
    padding: 12px 0px;
    transition: 0.2s;
    width: 100%;
    &:not(:placeholder-shown) {
      & + span {
        color: #9098a9;
        transform: translateY(-26px);
      }
    }
    &:focus {
      border-bottom: 2px solid #0077ff;
      & + span {
        color: #0077ff;
        transform: translateY(-26px);
      }
    }
  }
}
