.groups {
  //background-color: white;
  & .empty_list {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  margin: auto;
  margin-top: 5%;
  & .info {
    animation: show 2s;
    color: #a4afb7;
    width: 50%;
    display: inline-block;
    font-size: 18px;
    & i {
      text-decoration-color: none;
      margin: 15px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
    & table {
      width: 80%;
      background-color: white;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
      & .top {
        border-bottom: 1px solid #f1f1f3;
        height: 100px;
      }
      & .desc {
        font-weight: bold;
        color: #4d4f5c;
      }
      & .tools {
        vertical-align: top;
        text-align: right;
      }
      & .picture {
        & img {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          margin: 20px;
        }
      }
      margin: auto;
    }
  }
  & .modify {
    background-color: white;
    text-align: center;
    & .input_field {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      text-align: left;
      position: relative;
      margin-bottom: 3%;
      margin-top: 3%;
      color: #9098a9;
      @extend %input_material_text;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
