@charset "UTF-8";
.dashboard {
  background-color: #dcedf6; }

.Navbar {
  position: relative;
  height: 100vh;
  background-color: #1c7cd5;
  color: white; }
  .Navbar .head {
    height: 105px;
    background-color: #196ebe;
    text-align: center; }
  .Navbar .content ul li {
    cursor: pointer;
    margin-bottom: 1%;
    height: 60px;
    display: block; }
    .Navbar .content ul li button {
      margin-left: 20%;
      background: none;
      border: none;
      color: white;
      font-size: 14px;
      vertical-align: middle;
      display: inline-block; }
      .Navbar .content ul li button i {
        margin-right: 10px;
        color: #a5a4bf; }
    .Navbar .content ul li:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .Navbar .content ul li:hover:before {
      /* display: inline-block;
        content: $breaking_space;
        background-color: #56c0e0;
        width: 3px;
        margin-right: 5%;
        height: 100%;*/
      content: " ";
      background-color: #56c0e0;
      display: inline-block;
      vertical-align: middle;
      height: 90%;
      transition: 0.5s; }

.Utils {
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0px 0.1px;
  line-height: 60px;
  width: 100%; }
  .Utils .right ul li {
    display: inline;
    margin: 10px; }
    .Utils .right ul li i {
      color: #bcbccb; }
    .Utils .right ul li img {
      width: 40px;
      height: 40px; }
    .Utils .right ul li span {
      color: #4d4f5c;
      font-size: 13px; }
    .Utils .right ul li hr {
      display: inline;
      border: none;
      border-left: 1px solid #73848c;
      border-color: #ebebf2; }

.mails {
  background-color: white;
  width: 100%;
  height: 80vh;
  margin-top: 5%;
  box-shadow: 0px 0.2px;
  font-family: "Source Sans Pro", sans-serif; }
  .mails .SendEmail {
    width: 100%;
    text-align: center;
    overflow-y: auto;
    height: 80vh; }
    .mails .SendEmail .content {
      margin-top: 10px;
      display: inline-block; }
      .mails .SendEmail .content .to {
        width: 100%;
        max-width: 275px;
        text-align: left;
        position: relative;
        color: #9098a9;
        margin-bottom: 10px; }
      .mails .SendEmail .content .subject {
        width: 100%;
        max-width: 500px;
        text-align: left;
        position: relative;
        color: #9098a9;
        margin-bottom: 10px; }
      .mails .SendEmail .content .toolbar-class {
        margin: 0;
        padding: 0; }
      .mails .SendEmail .content .editor-class {
        border: #f1f1f1 solid 1px;
        overflow-y: auto;
        height: 260px;
        line-height: 10px; }
      .mails .SendEmail .content .send-btn {
        margin-top: 10px; }
        .mails .SendEmail .content .send-btn button {
          cursor: pointer; }
          .mails .SendEmail .content .send-btn button:disabled {
            cursor: default; }
  .mails .ReadEmail {
    text-align: center; }
    .mails .ReadEmail .subject {
      font-size: 18px;
      font-weight: 600; }
    .mails .ReadEmail .info {
      margin-top: 1%;
      margin-bottom: 1%;
      margin-left: 10%;
      margin-right: 10%; }
      .mails .ReadEmail .info .navs i {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 25px;
        opacity: 0.8;
        cursor: pointer; }
        .mails .ReadEmail .info .navs i:hover {
          opacity: 1;
          transition: 0.5s;
          background-color: #f1f1f3;
          border-radius: 10px;
          padding-left: 5px;
          padding-right: 5px; }
      .mails .ReadEmail .info .name {
        font-weight: bold; }
    .mails .ReadEmail .content {
      margin: auto;
      height: 60vh;
      overflow-y: scroll; }
  .mails .folders {
    font-size: 13px;
    height: 100%;
    width: 15%;
    border-right: 1px solid #f1f1f3; }
    .mails .folders ul {
      list-style: none; }
      .mails .folders ul .compose {
        border: 1px solid #f1f1f3;
        padding: 20%;
        text-align: center; }
        .mails .folders ul .compose button {
          cursor: pointer; }
      .mails .folders ul li {
        margin-bottom: 10%; }
        .mails .folders ul li span {
          margin-left: 10%;
          color: #4d4f5c !important;
          cursor: pointer; }
  .mails .content {
    width: 85%; }
    .mails .content .Toolbox {
      width: 100%;
      border: 1px solid #f1f1f3; }
      .mails .content .Toolbox .Search_input {
        border: #ccc 1px solid;
        padding: 7px;
        border-radius: 4px;
        width: 250px;
        outline: none; }
      .mails .content .Toolbox button {
        border: none;
        background: none; }
      .mails .content .Toolbox i {
        margin: 10px;
        font-size: 20px; }
        .mails .content .Toolbox i:hover {
          opacity: 0.5;
          cursor: pointer; }
    .mails .content .EmailList {
      height: 600px;
      overflow: auto;
      color: #4d4f5c; }
      .mails .content .EmailList .empty_list {
        font-weight: bold;
        font-size: 20px;
        text-align: center; }
      .mails .content .EmailList .read {
        background: #f5f6fa; }
      .mails .content .EmailList ul li {
        overflow: auto;
        list-style: none;
        box-shadow: 0 0.1px;
        transition: 0.2s; }
        .mails .content .EmailList ul li:hover {
          transform: translate(0, 2px);
          background-color: #f5f6fa;
          cursor: pointer; }
          .mails .content .EmailList ul li:hover:before {
            /* display: inline-block;
          content: $breaking_space;
          background-color: #56c0e0;
          width: 3px;
          margin-right: 5%;
          height: 100%; */
            content: " ";
            background-color: #56c0e0;
            display: inline-block; }
        .mails .content .EmailList ul li .info {
          margin-left: 2%;
          display: inline;
          line-height: 60px;
          overflow: auto; }
          .mails .content .EmailList ul li .info span {
            margin-top: 25%; }
          .mails .content .EmailList ul li .info .date {
            font-size: 11px;
            margin-left: 15px; }
          .mails .content .EmailList ul li .info .name {
            font-size: 17px;
            font-weight: bold; }
          .mails .content .EmailList ul li .info .subject {
            font-size: 15px;
            margin-left: 10px; }

::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.loader {
  margin: auto;
  display: block;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite; }

.loader-small {
  display: inline-block;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite; }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.disabled-icon {
  opacity: 0.5;
  cursor: default !important; }

.mails .SendEmail .content .to span, .mails .SendEmail .content .subject span, .groups .modify .input_field span, .join-modal .input_field span, .add-event-modal .title span, .modify-task-modal .name span, .create-folder-modal .name span, .rename-modal .name span {
  pointer-events: none;
  position: absolute;
  top: 16px;
  left: 0;
  transform-origin: 0 0;
  transition: all 0.2s ease; }

.mails .SendEmail .content .to input, .mails .SendEmail .content .subject input, .groups .modify .input_field input, .join-modal .input_field input, .add-event-modal .title input, .modify-task-modal .name input, .create-folder-modal .name input, .rename-modal .name input {
  border: none;
  -webkit-appearance: none;
  border-bottom: 2px solid #c8ccd4;
  outline: none;
  padding: 12px 0px;
  transition: 0.2s;
  width: 100%; }
  .mails .SendEmail .content .to input:not(:placeholder-shown) + span, .mails .SendEmail .content .subject input:not(:placeholder-shown) + span, .groups .modify .input_field input:not(:placeholder-shown) + span, .join-modal .input_field input:not(:placeholder-shown) + span, .add-event-modal .title input:not(:placeholder-shown) + span, .modify-task-modal .name input:not(:placeholder-shown) + span, .create-folder-modal .name input:not(:placeholder-shown) + span, .rename-modal .name input:not(:placeholder-shown) + span {
    color: #9098a9;
    transform: translateY(-26px); }
  .mails .SendEmail .content .to input:focus, .mails .SendEmail .content .subject input:focus, .groups .modify .input_field input:focus, .join-modal .input_field input:focus, .add-event-modal .title input:focus, .modify-task-modal .name input:focus, .create-folder-modal .name input:focus, .rename-modal .name input:focus {
    border-bottom: 2px solid #0077ff; }
    .mails .SendEmail .content .to input:focus + span, .mails .SendEmail .content .subject input:focus + span, .groups .modify .input_field input:focus + span, .join-modal .input_field input:focus + span, .add-event-modal .title input:focus + span, .modify-task-modal .name input:focus + span, .create-folder-modal .name input:focus + span, .rename-modal .name input:focus + span {
      color: #0077ff;
      transform: translateY(-26px); }

.groups {
  margin: auto;
  margin-top: 5%; }
  .groups .empty_list {
    font-weight: bold;
    font-size: 20px;
    text-align: center; }
  .groups .info {
    animation: show 2s;
    color: #a4afb7;
    width: 50%;
    display: inline-block;
    font-size: 18px; }
    .groups .info a {
      text-decoration: none;
      color: inherit; }
    .groups .info i {
      text-decoration-color: none;
      margin: 15px;
      cursor: pointer; }
      .groups .info i:hover {
        opacity: 0.5; }
    .groups .info table {
      width: 80%;
      background-color: white;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
      margin: auto; }
      .groups .info table .top {
        border-bottom: 1px solid #f1f1f3;
        height: 100px; }
      .groups .info table .desc {
        font-weight: bold;
        color: #4d4f5c; }
      .groups .info table .tools {
        vertical-align: top;
        text-align: right; }
      .groups .info table .picture img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        margin: 20px; }
  .groups .modify {
    background-color: white;
    text-align: center; }
    .groups .modify .input_field {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      text-align: left;
      position: relative;
      margin-bottom: 3%;
      margin-top: 3%;
      color: #9098a9; }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.remove-modal {
  font-size: 18px;
  font-weight: bold;
  color: #4d4f5c;
  padding: 15px; }
  .remove-modal .buttons {
    margin-top: 10px;
    text-align: right; }
    .remove-modal .buttons button {
      cursor: pointer; }
    .remove-modal .buttons .Yes {
      margin-right: 18px;
      width: 100px; }

.join-modal {
  padding: 15px; }
  .join-modal .input_field {
    display: inline-block;
    text-align: left;
    position: relative;
    color: #9098a9; }
  .join-modal i {
    margin-left: 5px;
    cursor: pointer;
    color: #9098a9;
    transition: 0.5s; }
    .join-modal i:hover {
      opacity: 0.7; }
  .join-modal button {
    margin-left: 10px;
    cursor: pointer; }

.invite-modal {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 15px;
  padding: 15px; }
  .invite-modal button {
    margin-top: 10px;
    cursor: pointer; }
  .invite-modal i {
    margin-left: 5px;
    cursor: pointer;
    color: #9098a9;
    transition: 0.5s; }
    .invite-modal i:hover {
      opacity: 0.7; }
  .invite-modal .code {
    margin-top: 3px;
    padding: 5px;
    display: inline-block;
    border: #9098a9 1px solid;
    border-radius: 15px;
    opacity: 0.8; }

.Chatroom {
  margin: auto;
  margin-top: 5%;
  background-color: #ffffff; }
  .Chatroom .chat_list {
    display: inline-block;
    font-family: "Source Sans Pro";
    border: #f1f1f3 1px solid;
    height: 80px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 25%;
    height: 100%; }
    .Chatroom .chat_list ul li {
      position: relative;
      border: #f1f1f3 1px solid;
      height: 80px;
      cursor: pointer; }
      .Chatroom .chat_list ul li:hover {
        background-color: #f5f6fa;
        transition: 0.5s; }
    .Chatroom .chat_list .active {
      background-color: #f5f6fa; }
    .Chatroom .chat_list .image {
      display: inline-block;
      position: relative;
      margin-left: 5%; }
      .Chatroom .chat_list .image img {
        position: absolute;
        top: -35px; }
    .Chatroom .chat_list .info {
      display: inline-block;
      margin-left: 15%; }
      .Chatroom .chat_list .info .name {
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px; }
    .Chatroom .chat_list .last_message_date {
      color: #43425d;
      display: inline-block;
      position: absolute;
      left: 275px;
      top: 3%; }
  .Chatroom .info {
    position: relative;
    height: 100%;
    display: inline-block;
    width: 75%; }
    .Chatroom .info .selected_conv {
      border: #f1f1f3 1px solid;
      height: 72px; }
      .Chatroom .info .selected_conv .image {
        margin-top: 0.5%;
        margin-left: 10%;
        display: inline-block; }
        .Chatroom .info .selected_conv .image img {
          height: 60px;
          width: 60px; }
      .Chatroom .info .selected_conv .name {
        color: #43425d;
        opacity: 0.9;
        margin-left: 1%;
        font-size: 17px;
        font-family: "Source Sans Pro";
        font-weight: 300px;
        display: inline-block; }
    .Chatroom .info .Message_List {
      height: 500px;
      overflow-y: auto; }
      .Chatroom .info .Message_List ul li {
        list-style-type: none;
        margin-left: 5%;
        margin-top: 1%; }
        .Chatroom .info .Message_List ul li .image {
          display: inline; }
          .Chatroom .info .Message_List ul li .image img {
            border: grey 2px solid; }
        .Chatroom .info .Message_List ul li .message {
          display: inline-block;
          margin-left: 1%;
          background: #f5f6fa;
          font-size: 13px;
          font-weight: 600;
          padding: 12px 13px;
          border-radius: 5px 5px 5px 0px;
          color: #4d4f5c;
          max-width: 400px; }
        .Chatroom .info .Message_List ul li .me {
          margin-right: 1%;
          margin-left: 0;
          background-color: #3b86ff;
          color: #ffffff; }
        .Chatroom .info .Message_List ul li .time {
          display: inline-block;
          margin: 10px;
          color: grey;
          font-size: 12px; }
    .Chatroom .info .send {
      bottom: 0;
      position: absolute;
      width: 100%;
      text-align: center; }
      .Chatroom .info .send .message-to-send {
        margin-bottom: 15px;
        width: 70%;
        border: none;
        overflow: auto;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        resize: none;
        /*remove the resize handle on the bottom right*/
        background-color: #f5f6fa;
        padding: 14px;
        font-size: 13px;
        font-weight: 600;
        color: #4d4f5c; }
        .Chatroom .info .send .message-to-send::-webkit-input-placeholder {
          color: #3b86ff;
          font-size: 13px; }

.calendar-mygroups {
  text-align: center;
  margin: auto;
  margin-top: 5%; }
  .calendar-mygroups .title {
    font-weight: bold;
    font-size: 20px; }
  .calendar-mygroups .info {
    animation: show 2s;
    text-align: center;
    margin: 50px;
    width: 250px;
    height: 105px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
    display: inline-block; }
    .calendar-mygroups .info:hover {
      transition-duration: 0.5s;
      opacity: 0.9;
      background-color: #f7f8f9;
      cursor: pointer; }
    .calendar-mygroups .info .picture {
      margin-top: 10%;
      display: inline-block; }
      .calendar-mygroups .info .picture img {
        height: 60px;
        widows: 60px; }
    .calendar-mygroups .info .desc {
      font-weight: bold;
      color: #4d4f5c;
      margin-left: 5%;
      display: inline-block; }

.calendar-container {
  margin: auto;
  margin-top: 5%;
  width: 1197px;
  background-color: white; }
  .calendar-container .header {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to bottom, #fafbfd 0%, rgba(255, 255, 255, 0) 100%);
    border-bottom: 1px solid rgba(166, 168, 179, 0.12); }
    .calendar-container .header p {
      margin: 5px 0 0 0;
      font-size: 13px;
      font-weight: 600;
      color: rgba(81, 86, 93, 0.4); }
    .calendar-container .header h5 {
      display: inline; }
    .calendar-container .header i {
      color: #bcbccb;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 17px;
      cursor: pointer; }
      .calendar-container .header i:hover {
        opacity: 0.7; }
  .calendar-container .days .day-name {
    font-size: 12px;
    text-transform: uppercase;
    color: #99a1a7;
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    line-height: 50px;
    font-weight: 500;
    width: 171px;
    display: inline-block; }
  .calendar-container .days .day {
    overflow: auto;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    border-right: 1px solid rgba(166, 168, 179, 0.12);
    text-align: right;
    letter-spacing: 1px;
    font-size: 12px;
    box-sizing: border-box;
    color: #98a0a6;
    display: inline-block;
    width: 171px;
    height: 120px;
    z-index: 1; }
    .calendar-container .days .day .event-primary {
      padding: 2px;
      text-align: left;
      letter-spacing: 0;
      cursor: pointer;
      background: #4786ff;
      border: 0;
      border-radius: 4px;
      align-self: end;
      color: #fff;
      box-shadow: 0 10px 14px rgba(71, 134, 255, 0.4);
      font-size: 13px;
      margin: 3px; }
      .calendar-container .days .day .event-primary:hover {
        opacity: 0.7;
        transition-duration: 0.5s; }
      .calendar-container .days .day .event-primary .event__detail {
        width: 500px;
        position: absolute;
        left: 0;
        top: calc(100% + 10px);
        background: #fff;
        border: 1px solid rgba(166, 168, 179, 0.2);
        color: #000;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
        z-index: 999; }
        .calendar-container .days .day .event-primary .event__detail:after, .calendar-container .days .day .event-primary .event__detail:before {
          bottom: 100%;
          left: 30%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none; }
        .calendar-container .days .day .event-primary .event__detail:before {
          border-bottom-color: rgba(166, 168, 179, 0.2);
          border-width: 8px;
          margin-left: -8px; }
        .calendar-container .days .day .event-primary .event__detail:after {
          border-bottom-color: #fff;
          border-width: 6px;
          margin-left: -6px; }
        .calendar-container .days .day .event-primary .event__detail h2 {
          font-size: 15px;
          margin: 0;
          color: #51565d; }
        .calendar-container .days .day .event-primary .event__detail p {
          margin-top: 4px;
          font-size: 12px;
          margin-bottom: 0;
          font-weight: 500;
          color: rgba(81, 86, 93, 0.7); }
  .calendar-container .days .day-disabled {
    color: rgba(152, 160, 166, 0.6);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    cursor: not-allowed; }

.edit-event {
  display: inline-block; }

.event-modal {
  padding: 10px;
  width: 260px;
  height: 100%; }
  .event-modal .title {
    color: #4d4f5c;
    font-weight: bold;
    font-size: 15px; }
  .event-modal .time {
    color: #a5a4bf; }
    .event-modal .time i {
      margin: 3px; }
  .event-modal .description {
    color: #4d4f5c; }
    .event-modal .description i {
      margin: 3px; }
  .event-modal .buttons {
    margin-top: 15px;
    text-align: right; }
    .event-modal .buttons button {
      cursor: pointer;
      margin-left: 3px; }

.add-event-modal {
  padding: 10px;
  width: 260px;
  height: 100%; }
  .add-event-modal .title {
    width: 190px;
    text-align: left;
    position: relative;
    color: #9098a9;
    margin-bottom: 10px; }
  .add-event-modal .react-datepicker-popper {
    width: 300px; }
  .add-event-modal .react-datepicker-wrapper .react-datepicker__input-container input {
    border: none;
    -webkit-appearance: none;
    border-bottom: 2px solid #c8ccd4;
    outline: none;
    padding: 12px 0px;
    transition: 0.2s;
    width: 100%; }
    .add-event-modal .react-datepicker-wrapper .react-datepicker__input-container input:not(:placeholder-shown) + span {
      color: #9098a9;
      transform: translateY(-26px); }
    .add-event-modal .react-datepicker-wrapper .react-datepicker__input-container input:focus {
      border-bottom: 2px solid #0077ff; }
      .add-event-modal .react-datepicker-wrapper .react-datepicker__input-container input:focus + span {
        color: #0077ff;
        transform: translateY(-26px); }
  .add-event-modal .Description {
    border: none;
    -webkit-appearance: none;
    border-bottom: 2px solid #c8ccd4;
    outline: none;
    padding: 12px 0px;
    transition: 0.2s;
    width: 100%;
    height: 150px; }
    .add-event-modal .Description:not(:placeholder-shown) + span {
      color: #9098a9;
      transform: translateY(-26px); }
    .add-event-modal .Description:focus {
      border-bottom: 2px solid #0077ff; }
      .add-event-modal .Description:focus + span {
        color: #0077ff;
        transform: translateY(-26px); }
  .add-event-modal button {
    margin-top: 10px; }
    .add-event-modal button:hover {
      cursor: pointer; }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.tasks-mygroups {
  text-align: center;
  margin: auto;
  margin-top: 5%; }
  .tasks-mygroups .title {
    font-weight: bold;
    font-size: 20px; }
  .tasks-mygroups .info {
    animation: show 2s;
    text-align: center;
    margin: 50px;
    width: 250px;
    height: 105px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
    display: inline-block; }
    .tasks-mygroups .info:hover {
      transition-duration: 0.5s;
      opacity: 0.9;
      background-color: #f7f8f9;
      cursor: pointer; }
    .tasks-mygroups .info .picture {
      margin-top: 10%;
      display: inline-block; }
      .tasks-mygroups .info .picture img {
        height: 60px;
        widows: 60px; }
    .tasks-mygroups .info .desc {
      font-weight: bold;
      color: #4d4f5c;
      margin-left: 5%;
      display: inline-block; }

.taskboard-container {
  background-color: #f7f8f9;
  margin: auto;
  margin-top: 5%;
  text-align: center; }
  .taskboard-container .btn-group {
    margin-top: 2%; }
    .taskboard-container .btn-group button {
      margin-left: 7px;
      margin-right: 7px;
      cursor: pointer; }
  .taskboard-container .task-list {
    display: inline-block;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #e2e4e6;
    border-radius: 0.3rem; }
    .taskboard-container .task-list .title {
      font-size: 17px;
      color: #333;
      padding: 1rem; }
    .taskboard-container .task-list .items {
      align-content: start;
      padding: 0 0.6rem 0.5rem;
      overflow-y: auto;
      height: 500px; }
      .taskboard-container .task-list .items::-webkit-scrollbar {
        width: 10px; }
      .taskboard-container .task-list .items::-webkit-scrollbar-thumb {
        background-color: #c4c9cc;
        border-right: 2px solid #e2e4e6;
        border-radius: 0; }
      .taskboard-container .task-list .items li {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        background-color: #fff;
        padding: 0.65rem 0.6rem;
        color: #4d4d4d;
        border-bottom: 0.1rem solid #ccc;
        border-radius: 0.3rem;
        margin-bottom: 0.6rem;
        word-wrap: break-word;
        cursor: pointer;
        list-style: none; }
        .taskboard-container .task-list .items li:hover {
          background-color: #eee; }
    .taskboard-container .task-list .add-card-btn {
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: #838c91;
      padding: 5px;
      width: 100%;
      text-align: left;
      cursor: pointer; }
      .taskboard-container .task-list .add-card-btn:hover {
        background-color: #cdd2d4;
        color: #4d4d4d;
        text-decoration: underline; }

.task-modal {
  max-height: 600px;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 320px; }
  .task-modal .card-body {
    padding: 20px 20px; }
    .task-modal .card-body .name {
      font-size: 19px; }
    .task-modal .card-body .description {
      font-size: 15px;
      line-height: 1.4;
      color: #999; }
    .task-modal .card-body .users {
      padding-left: 15px;
      display: block;
      list-style-type: none;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px; }
      .task-modal .card-body .users li {
        display: inline; }
        .task-modal .card-body .users li img {
          border: 2px solid #fff;
          margin-left: -10px;
          position: relative; }
          .task-modal .card-body .users li img:hover {
            transform: scale(1.3);
            cursor: pointer;
            z-index: 10; }
  .task-modal .section {
    border-top: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    padding: 13px 20px; }
    .task-modal .section i {
      font-size: 20px;
      color: #999;
      margin: 0;
      border: none;
      overflow: visible;
      text-transform: none;
      padding: 0;
      background-color: transparent;
      display: inline-block;
      line-height: 0; }
  .task-modal .comments {
    margin-top: 5px;
    list-style-type: none; }
    .task-modal .comments li {
      margin-top: 3%;
      position: relative; }
      .task-modal .comments li .image {
        position: absolute;
        top: 20px;
        left: 0; }
      .task-modal .comments li .comment {
        margin-left: 40px;
        width: 250px;
        display: inline-block;
        position: relative;
        padding: 7px 5px;
        border-radius: 3px;
        background-color: #f5f6fa;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); }
        .task-modal .comments li .comment:before {
          position: absolute;
          right: 100%;
          top: 33px;
          content: "";
          display: block;
          border: 10px solid transparent;
          border-right-color: #f5f6fa; }
        .task-modal .comments li .comment .name {
          font-size: 16px;
          display: inline; }
        .task-modal .comments li .comment .time {
          margin-left: 3px;
          color: #999; }
        .task-modal .comments li .comment .content {
          color: #4d4f5c;
          font-size: 14px; }
  .task-modal .make-comment {
    text-align: center; }
    .task-modal .make-comment .btn {
      margin-top: 5px;
      padding: 5px;
      cursor: pointer; }
  .task-modal .manage {
    margin-top: 5px; }
    .task-modal .manage button {
      margin-left: 5px;
      cursor: pointer; }

.add-users-modal {
  width: 250px;
  height: 500px;
  overflow: auto;
  text-align: center; }
  .add-users-modal .header {
    margin-top: 5px;
    font-weight: 700;
    font-size: 17px; }
  .add-users-modal ul {
    margin-top: 10px; }
    .add-users-modal ul li {
      margin-top: 10px; }
      .add-users-modal ul li .name {
        margin-left: 10px;
        font-weight: 600; }
      .add-users-modal ul li button {
        cursor: pointer;
        padding: 4px 7px;
        margin-left: 10px; }
  .add-users-modal button {
    cursor: pointer; }

.modify-task-modal {
  width: 250px;
  height: 350px;
  overflow: auto; }
  .modify-task-modal .header {
    margin: 5px;
    font-weight: 700;
    font-size: 17px; }
  .modify-task-modal .name {
    margin: 20px;
    width: 190px;
    text-align: left;
    position: relative;
    color: #9098a9;
    margin-bottom: 10px; }
  .modify-task-modal .description {
    margin: 20px;
    border: none;
    -webkit-appearance: none;
    border-bottom: 2px solid #c8ccd4;
    outline: none;
    padding: 12px 0px;
    transition: 0.2s;
    width: 190px;
    height: 100px; }
    .modify-task-modal .description:not(:placeholder-shown) + span {
      color: #9098a9;
      transform: translateY(-26px); }
    .modify-task-modal .description:focus {
      border-bottom: 2px solid #0077ff; }
      .modify-task-modal .description:focus + span {
        color: #0077ff;
        transform: translateY(-26px); }
  .modify-task-modal .type {
    margin-left: 20px;
    width: 100px; }
  .modify-task-modal .btn {
    display: block;
    margin-top: 15px;
    cursor: pointer;
    margin: auto; }

.filebrowser-container {
  color: #424242;
  margin: auto;
  background-color: white;
  margin-top: 10%; }
  .filebrowser-container .row {
    margin-left: 0px; }
  .filebrowser-container .toolbar {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #f5f5f5; }
    .filebrowser-container .toolbar .icon {
      display: inline-block;
      margin-left: 2%;
      font-size: 20px;
      cursor: pointer;
      transition: 0.4s; }
      .filebrowser-container .toolbar .icon:hover {
        opacity: 0.5; }
  .filebrowser-container .header {
    font-weight: 700;
    border-bottom: 1px solid #f5f5f5; }
  .filebrowser-container .list {
    height: 387px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #f5f5f5; }
    .filebrowser-container .list .item {
      cursor: default; }
      .filebrowser-container .list .item:hover {
        background-color: #f5f5f5; }
      .filebrowser-container .list .item .title {
        overflow: hidden; }
        .filebrowser-container .list .item .title .icon {
          font-size: 24px;
          display: inline-block;
          margin-right: 14px; }
        .filebrowser-container .list .item .title .name {
          margin-top: 7px;
          vertical-align: top;
          max-width: 85%;
          font-size: 15px;
          font-weight: 600;
          display: inline-block; }
      .filebrowser-container .list .item .size {
        margin-top: 7px;
        vertical-align: top; }
      .filebrowser-container .list .item .modified {
        margin-top: 7px;
        vertical-align: top; }
    .filebrowser-container .list .selected {
      background-color: #2196f3 !important;
      color: white; }
      .filebrowser-container .list .selected .icon {
        padding: 0 5px;
        border-radius: 100%;
        background-color: white;
        color: #424242; }
  .filebrowser-container .location {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 600; }

.create-folder-modal {
  padding: 10px; }
  .create-folder-modal .name {
    width: 190px;
    text-align: left;
    position: relative;
    color: #9098a9;
    margin-bottom: 10px; }
  .create-folder-modal button {
    cursor: pointer; }

.rename-modal {
  padding: 10px; }
  .rename-modal .name {
    width: 190px;
    text-align: left;
    position: relative;
    color: #9098a9;
    margin-bottom: 10px; }
  .rename-modal button {
    cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  box-sizing: border-box; }

.col {
  padding: 0; }
