@import "Dashboard";
@import "Navbar";
@import "Utils";
@import "Mails";
@import "custom";
@import "Groups";
@import "Chatroom";
@import "calendar";
@import "Tasks";
@import "FileBrowser";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

.col {
  padding: 0;
}
