@charset "UTF-8";
.dashboard {
  background-color: #dcedf6; }

.Navbar {
  height: 100vh;
  background-color: #1c7cd5;
  color: white; }
  .Navbar .head {
    height: 105px;
    background-color: #196ebe;
    text-align: center; }
  .Navbar .content ul li {
    cursor: pointer;
    margin-bottom: 1%;
    height: 60px;
    display: block; }
    .Navbar .content ul li button {
      margin-left: 20%;
      background: none;
      border: none;
      color: white;
      font-size: 14px;
      vertical-align: middle;
      display: inline-block; }
      .Navbar .content ul li button i {
        margin-right: 10px;
        color: #a5a4bf; }
    .Navbar .content ul li:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%; }
    .Navbar .content ul li:hover:before {
      /* display: inline-block;
        content: $breaking_space;
        background-color: #56c0e0;
        width: 3px;
        margin-right: 5%;
        height: 100%;*/
      content: " ";
      background-color: #56c0e0;
      display: inline-block;
      vertical-align: middle;
      height: 90%;
      transition: 0.5s; }

.Utils {
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0px 0.1px;
  line-height: 60px;
  width: 100%; }
  .Utils .right ul li {
    display: inline;
    margin: 10px; }
    .Utils .right ul li i {
      color: #bcbccb; }
    .Utils .right ul li img {
      width: 40px;
      height: 40px; }
    .Utils .right ul li span {
      color: #4d4f5c;
      font-size: 13px; }
    .Utils .right ul li hr {
      display: inline;
      border: none;
      border-left: 1px solid #73848c;
      border-color: #ebebf2; }

.mails {
  background-color: white;
  width: 100%;
  height: 80%;
  margin-top: 5%;
  box-shadow: 0px 0.2px;
  font-family: "Source Sans Pro", sans-serif; }
  .mails .folders {
    font-size: 13px;
    height: 100%;
    width: 15%;
    border-right: 1px solid #f1f1f3; }
    .mails .folders ul {
      list-style: none; }
      .mails .folders ul .compose {
        border: 1px solid #f1f1f3;
        padding: 20%;
        text-align: center; }
      .mails .folders ul li {
        margin-bottom: 10%; }
        .mails .folders ul li a {
          margin-left: 10%;
          color: #4d4f5c !important; }
  .mails .content {
    width: 85%; }
    .mails .content .SearchBar {
      width: 100%;
      border: 1px solid #f1f1f3; }
    .mails .content .EmailList {
      height: 735px;
      overflow: auto;
      color: #4d4f5c; }
      .mails .content .EmailList ul li {
        height: 70px;
        line-height: 200%;
        list-style: none; }
        .mails .content .EmailList ul li .info {
          overflow: auto;
          width: 90%; }
          .mails .content .EmailList ul li .info .date {
            font-size: 11px; }
          .mails .content .EmailList ul li .info .name {
            font-size: 13px;
            font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  box-sizing: border-box; }

.col {
  padding: 0; }
