$breaking_space: "\00a0";

.Navbar {
  position: relative;
  height: 100vh;
  background-color: #1c7cd5;
  color: white;
  & .head {
    height: 105px;
    background-color: #196ebe;
    text-align: center;
  }
  & .content {
    & ul li {
      cursor: pointer;
      margin-bottom: 1%;
      height: 60px;
      display: block;
      & button {
        margin-left: 20%;
        background: none;
        border: none;
        color: white;
        font-size: 14px;
        vertical-align: middle;
        display: inline-block;
        & i {
          margin-right: 10px;
          color: #a5a4bf;
        }
      }
      // place the button in the middle
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      &:hover {
        // show a blue div on hover
        &:before {
          /* display: inline-block;
        content: $breaking_space;
        background-color: #56c0e0;
        width: 3px;
        margin-right: 5%;
        height: 100%;*/
          content: $breaking_space;
          background-color: #56c0e0;
          display: inline-block;
          vertical-align: middle;
          height: 90%;
          transition: 0.5s;
        }
      }
    }
  }
}
