.tasks-mygroups {
  text-align: center;
  margin: auto;
  margin-top: 5%;
  & .title {
    font-weight: bold;
    font-size: 20px;
  }
  & .info {
    animation: show 2s;
    text-align: center;
    margin: 50px;
    width: 250px;
    height: 105px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
    display: inline-block;
    &:hover {
      transition-duration: 0.5s;
      opacity: 0.9;
      background-color: #f7f8f9;
      cursor: pointer;
    }
    & .picture {
      margin-top: 10%;
      & img {
        height: 60px;
        widows: 60px;
      }
      display: inline-block;
    }
    & .desc {
      font-weight: bold;
      color: #4d4f5c;
      margin-left: 5%;
      display: inline-block;
    }
  }
}

.taskboard-container {
  background-color: #f7f8f9;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  & .btn-group {
    margin-top: 2%;
    & button {
      margin-left: 7px;
      margin-right: 7px;
      cursor: pointer;
    }
  }
  & .task-list {
    display: inline-block;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #e2e4e6;
    border-radius: 0.3rem;
    & .title {
      font-size: 17px;
      color: #333;
      padding: 1rem;
    }
    & .items {
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #c4c9cc;
        border-right: 2px solid #e2e4e6;
        border-radius: 0;
      }
      align-content: start;
      padding: 0 0.6rem 0.5rem;
      overflow-y: auto;
      height: 500px;
      & li {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        background-color: #fff;
        padding: 0.65rem 0.6rem;
        color: #4d4d4d;
        border-bottom: 0.1rem solid #ccc;
        border-radius: 0.3rem;
        margin-bottom: 0.6rem;
        word-wrap: break-word;
        cursor: pointer;
        list-style: none;
        &:hover {
          background-color: #eee;
        }
      }
    }
    & .add-card-btn {
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: #838c91;
      padding: 5px;
      width: 100%;
      text-align: left;
      cursor: pointer;
      &:hover {
        background-color: #cdd2d4;
        color: #4d4d4d;
        text-decoration: underline;
      }
    }
  }
}

.task-modal {
  max-height: 600px;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 320px;
  & .card-body {
    padding: 20px 20px;
    & .name {
      font-size: 19px;
    }
    & .description {
      font-size: 15px;
      line-height: 1.4;
      color: #999;
    }
    & .users {
      padding-left: 15px;
      display: block;
      list-style-type: none;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      & li {
        display: inline;
        & img {
          border: 2px solid #fff;
          margin-left: -10px;
          position: relative;
          &:hover {
            transform: scale(1.3);
            cursor: pointer;
            z-index: 10;
          }
        }
      }
    }
  }
  & .section {
    border-top: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    padding: 13px 20px;
    & i {
      font-size: 20px;
      color: #999;
      margin: 0;
      border: none;
      overflow: visible;
      text-transform: none;
      padding: 0;
      background-color: transparent;
      display: inline-block;
      line-height: 0;
    }
  }
  & .comments {
    margin-top: 5px;
    list-style-type: none;
    & li {
      margin-top: 3%;
      position: relative;
      & .image {
        position: absolute;
        top: 20px;
        left: 0;
      }
      & .comment {
        margin-left: 40px;
        width: 250px;
        display: inline-block;
        position: relative;
        padding: 7px 5px;
        border-radius: 3px;
        background-color: #f5f6fa;
        box-shadow: 0 6px 15px rgba(#000, 0.4);
        &:before {
          position: absolute;
          right: 100%;
          top: 33px;
          content: "";
          display: block;
          border: 10px solid transparent;
          border-right-color: #f5f6fa;
        }
        & .name {
          font-size: 16px;
          display: inline;
        }
        & .time {
          margin-left: 3px;
          color: #999;
        }
        & .content {
          color: #4d4f5c;
          font-size: 14px;
        }
      }
    }
  }
  & .make-comment {
    text-align: center;
    & .btn {
      margin-top: 5px;
      padding: 5px;
      cursor: pointer;
    }
  }
  & .manage {
    margin-top: 5px;
    & button {
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

.add-users-modal {
  width: 250px;
  height: 500px;
  overflow: auto;
  text-align: center;
  & .header {
    margin-top: 5px;
    font-weight: 700;
    font-size: 17px;
  }
  & ul {
    margin-top: 10px;
    & li {
      margin-top: 10px;
      & .name {
        margin-left: 10px;
        font-weight: 600;
      }
      & button {
        cursor: pointer;
        padding: 4px 7px;
        margin-left: 10px;
      }
    }
  }
  & button {
    cursor: pointer;
  }
}

.modify-task-modal {
  width: 250px;
  height: 350px;
  overflow: auto;
  & .header {
    margin: 5px;
    font-weight: 700;
    font-size: 17px;
  }
  & .name {
    margin: 20px;
    width: 190px;
    text-align: left;
    position: relative;
    color: #9098a9;
    margin-bottom: 10px;
    @extend %input_material_text;
  }
  & .description {
    margin: 20px;
    border: none;
    -webkit-appearance: none;
    border-bottom: 2px solid #c8ccd4;
    outline: none;
    padding: 12px 0px;
    transition: 0.2s;
    width: 190px;
    height: 100px;
    &:not(:placeholder-shown) {
      & + span {
        color: #9098a9;
        transform: translateY(-26px);
      }
    }
    &:focus {
      border-bottom: 2px solid #0077ff;
      & + span {
        color: #0077ff;
        transform: translateY(-26px);
      }
    }
  }
  & .type {
    margin-left: 20px;
    width: 100px;
  }
  & .btn {
    display: block;
    margin-top: 15px;
    cursor: pointer;
    margin: auto;
  }
}
